<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" rel="stylesheet" href="/styles/home.css">
  <script type="text/javascript" src="/javascript/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/javascript/index.js"></script>
  <script>
    var REFRESH_RATE = <%= @timeout %>;
  </script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>
    Booty Log
  </title>
</head>
<body>
<div class="container">
  <div class="header clearfix">
    <div class="left"><img src="title.png" alt="Project Bootylog: Let's get it on"></div>
    <div class="right">
      <a href="/"><img src="header-graphic.png" alt="Bootylog"  style="border:none;"></a></div>
  </div>
  <div class="body clearfix">
    <div class="left"><img src="instructions.png" alt="Think of Bootylog as your little black book."></div>
    <div class="right">
      <h2>#<%= "#{@hashtag}" %></h2>
      <ul id="stream"><%= "#{@stream}" %></ul>
      <% if @size > 20 %>
      <div class="more" onclick='javascript: document.location.href="/?page=<%= (@page.to_i + 1).to_s %>"'>more</div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
